#busca{

        font: bold 14px san-serif;
        margin-bottom: 10px;
        border-bottom: 1px solid whitesmoke;
        box-shadow: 0px 0px 5px rgba(141, 141, 141, 0.945);
        width: 100%;
        margin-top: 2px;

}

label{
    margin-block-end: 20px;
    margin-left: 20px;
}

#busca input{

        background-color: rgba(255, 255, 255, 0.644);
        border-radius: 3px;
        margin-bottom: 10px;
        margin-right: 30px;
}

#busca input:hover{
    background-color: #e0f1fc;
}

#busca label select {
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 3px;
    font: bold 14px san-serif;
}

#busca button{
    
    font: bold 16px san-serif;
    border-radius: 5px;
    text-shadow: 0px 1px white;
    border: 1px solid rgba(255, 255, 255, 0.644);
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7fbfc+0,d9edf2+40,add9e4+100;Blue+3D+%231 */
    background: #f7fbfc;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f7fbfc 0%, #d9edf2 40%, #add9e4 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f7fbfc 0%, #d9edf2 40%, #add9e4 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f7fbfc 0%, #d9edf2 40%, #add9e4 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#add9e4', GradientType=0);
    /* IE6-9 */

    color: black;
    box-shadow: #c9c9c9;
    
}

#resultado-busca{
    font: bold 14px san-serif;
    margin-bottom: 10px;
    border-bottom: 1px solid whitesmoke;
    box-shadow: 0px 0px 5px rgba(141, 141, 141, 0.945);
    width: 100%;
    margin-top: 2px;
}

#resultado-busca p{
    font: bold 14px san-serif;
    margin-top: 2px;
}